.autocomplete1,.autocomplete2{
	min-height: 45vh;
}


/* Autocomplete 1 Basic List Styling */
.autocomplete1 input{
	/* font size 16 stops iOS from zooming on input focus */
	font-size: 16px;
}
.autocomplete input:focus{
	font-size:; 16px;
}
.autocomplete1-results{
	font-family: "Roboto", sans-serif;
	margin-top: 5px;
}
.autocomplete1-results ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.autocomplete1-results ul li a{
	display: block;
	text-decoration: none;
	color: black;
	background: -webkit-linear-gradient(#DEE0E1, #C7C7CC);
	background: -o-linear-gradient(#DEE0E1, #C7C7CC);
	background: -moz-linear-gradient(#DEE0E1, #C7C7CC);
	background: linear-gradient(#DEE0E1, #C7C7CC);
	line-height: 25px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 2px;
	border-radius: 4px;
	-webkit-transition-property: transform;
	-webkit-transition-duration: 50ms;
	-webkit-transition-timing-focus: ease;
	-webkit-transition-delay: 5ms;
	transition-property: transform;
	transition-duration: 50ms;
	transition-timing-focus: ease;
	transition-delay: 5ms;
}

/* Autocomplete 1 Selected/Hover State Styling */
.autocomplete1-results ul li.selected1 a, .autocomplete1-results ul li a:hover {
	color: white;
	background: -webkit-linear-gradient(#1ad6fd,#1d62f0);
	background: -o-linear-gradient(#1ad6fd,#1d62f0);
	background: -moz-linear-gradient(#1ad6fd,#1d62f0);
	background: linear-gradient(#1ad6fd,#1d62f0);

	-ms-transform: scale(1.03)
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
} 

/* Start Autocomplete 2 list styling */
.autocomplete2 input{
	font-size: 16px;
	background-color: #c2dede;
	color: #377c7c;
	border: 1px solid #377c7c;
	border-radius: 0px;
}
.autocomplete2 span{
	background-color: #c2dede;
	color: #377c7c;
	border: 1px solid #377c7c;
	border-radius: 0px;
}
.autocomplete2 input:focus{
	/* Overriding bootstrap's blue input glow */
	font-size: 16px;
    border-color: #377c7c;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* These must be seperate rules */
.autocomplete2 input::-webkit-input-placeholder{
	color: #377c7c;
}
.autocomplete2 input:-moz-placeholder{
	color: #377c7c;
	opacity: 1;
}
.autocomplete2 input::-moz-placeholder{
	color: #377c7c;
	opacity: 1;
}
.autocomplete2 input:-ms-input-placeholder{
	color: #377c7c;
}
.autocomplete2-results{
	margin-top: -1px;
	background-color: #c2dede;
}
.autocomplete2-results ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.autocomplete2-results ul li{
   border-bottom: 1px solid #e9f4f4;
}
.autocomplete2-results ul li:last-child{
	border-bottom: 0px;
}
.autocomplete2-results ul li:nth-child(10){ /* this should be set to the same value as resultsToDisplay in scripts.js */
	border-bottom: 0px;
}
.autocomplete2-results ul li a{
	display: block;
  	-webkit-transition-property: border, color;
  	-webkit-transition-duration: .3s;
  	-webkit-transition-timing-function: ease;
  	transition-property: border, color;
  	transition-duration: .3s;
  	transition-timing-function: ease;
	font-family: "Lato", sans-serif;
	text-decoration: none;
	color: #599494; 
	line-height: 20px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* Autocomplete 2 Selected/Hover State Styling */
.autocomplete2-results ul li.selected2 a, .autocomplete2-results li:hover a{
  	-webkit-transition-property: border, color;
  	-webkit-transition-duration: .3s;
  	-webkit-transition-timing-function: ease;
  	transition-property: border, color;
  	transition-duration: .3s;
  	transition-timing-function: ease;
	color: #1d6464;
	border-left: 3px solid #1d6464;
}

/* making text bigger for easier mobile navigation */
@media only screen and (max-device-width: 736px) { 
  	.autocomplete1-results ul li a{
  		font-size: 16px;
  	}
}

@media only screen and (max-device-width: 736px) { 
  	.autocomplete2-results ul li a{
  		font-size: 16px;
  	}
}

